.banner {
    background: linear-gradient(350deg, rgba(0, 13, 255, 1) 9%, rgba(107, 115, 255, 1) 91%);
    padding-top: 100px;
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
    height: 500px;
    position: relative;
}

@media (max-width: 767px) {
    .banner {
        border-radius: 0;
        height: auto;
        padding: 20px 0;
    }
    .desktopOnly {
        display: none;
    }
    .benefits {
        display: block;
    }
}

.banner .bannerLeft {
    color: white;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.banner .bannerRight {
    color: white;
}

.banner .bannerLeft .searchBar {
    position: relative;
}

.searchBar > input.searchInput {
    box-shadow: none;
    border-radius: 50px;
    height: 48px;
    padding-left: 52px;
    width: 340px;
    font-size: 14px;
    color: #7D7878;
    position: relative;
}

.searchBar span {
    position: absolute;
    left: 20px;
    color: #7D7878 !important;
}

.welcome p, .d-flex  p {
    font-size: 22px;
    margin: 0;
}

.welcome .tagLine {
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 10px;
}

.tagLine span {
    font-size: 40px;
}

.d-flex > ul {
    list-style-type: none;
    font-size: 20px;
    margin: 0;
    padding-left: 10px;
}

.benefit span:not(:last-child) {
    margin-right: 10px;
}

.benefit + .benefit {
    margin-top: 1rem;
}